

    #main{
        position: fixed;
        width: 100%;
        top: 0px;
        background-color: white;
        z-index: 30;
    }

    #nav{
        display: flex;
        width: 100%;
        /* height: 80px; */
        /* border: 1px solid saddlebrown; */
        background-color: black;
        color: white;
     
    }
    #head{
        margin: auto;
        text-align: center;
        padding-bottom: 10px;
        padding-top: 10px;
    }


    #logo{
        width: 30%;
        /* border: 1px solid salmon; */
       background-color: black;
    }

    .first{
        width: 30px;
        height: 30px;
        padding-right: 2%;
        padding-bottom: 10px;
        padding-top: 10px;
        cursor: pointer;
    }

    #content{
        display: flex;
        width: 65%;
        padding: 9px 10px 8px 10px;
        margin: auto;
        /* border: 1px solid saddlebrown; */
       justify-content: space-between;
        cursor: pointer;
        font-size: 18px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        background-color: white;
    }

     h1{
            text-align: center;
            text-decoration: underline;
            /* margin-top: 20px; */
            /* margin-bottom: 20px */
        }
        .container{
            width: 70%;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(5,auto);
            margin: auto;
            margin-top: 9%;
            gap: 18px;
            /* border: 1px solid; */
        }

        /* .box{
            border: 1px solid red;
        } */

        .box>img{
            width: 100%;
            margin-top: 20px;
        }


        .para>a+p{
            justify-content: flex-start;
            padding-left: 15px;
            font-size: 18px;
            font-family: Arial, Helvetica, sans-serif;
            line-height: 140%;
        }

        .para{
            /* border: 1px solid red; */
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            background: #fff;
            padding: 10px;
            margin: -28px 0 0 16px;
            position: relative;
       }

       a{
            text-align: center;
            color:black;
            /* background-color: white; */
            text-decoration: none;
            font-family: 'Playfair Display',sans-serif;
      }

       a:nth-child(1){
            text-decoration: underline;
            text-decoration-color:rgb(194, 11, 11);
            font-size: 20px;
            font-weight: bold;
            color: #585858;
            padding-left: 13px;
            padding-top: 13px;
            font-size: 20px;
       }
